p {
  margin: 5px;
}

#text-left p {
  text-align: left;
}

h6 {
  margin-top: 15px;
}

.app-header {
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
  margin-bottom: 1rem;
  margin-top: 15px;
}

.app-header .app-image {
  width: 220px;
  height: 230px;
  border-radius: 10px;
  margin-right: 1rem;
}

.jumbotron {
  background-color: #fff;
}

.app-header p {
  margin: 0;
}
